@charset "UTF-8";
/* Eine Version für 480 Pixel (beispielsweise Smartphones) */
@media only screen and (max-width: 480px) {
    html {
        background-image: url("../img/smartphone.png");
    }

    body {
        margin: 5px auto;
        width: 97%;
    }

    nav h3 {
        display: none;
    }

    nav ul li:first-child {
        margin-left: 20px;
        border-left: none;
        list-style: none;
        display: inline;
    }

    aside {
        padding: 1%;
        width: 98%;
        background-color: beige;
        margin: 0 0 5px 0;
    }

    main {
        width: 98%;
    }
}
