body {
    font-family: sans-serif;
}

.food {
    background: url("food.jpg");
    background-repeat: no-repeat;
    background-size: 630px;
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
}

.sand {
    background: url("sand.jpg");
    background-repeat: no-repeat;
    background-size: 630px;
}

article {
    font-size: 12pt;
}

.special {
    text-align: center;
    position: relative;
    top: -360px;
    left: 620px;
}

header, footer {
    width: 800px;
    text-align: center;
}

header {
    font-size: 20pt;
}
footer {
    font-size: 9pt;
}